[[ -f ".env" ]] && dotenv ".env"
[[ -f "mise.toml" || -f ".mise.toml" ]] && eval "$(mise hook-env -s $SHELL_NAME)"

export_function() {
    local name=$1
    local alias_dir=$PWD/.direnv/aliases
    mkdir -p "$alias_dir"
    PATH_add "$alias_dir"
    local target="$alias_dir/$name"
    if declare -f "$name" >/dev/null; then
        echo "#!/usr/bin/env bash" > "$target"
        declare -f "$name" >> "$target" 2>/dev/null
        echo "$name" >> "$target"
        chmod +x "$target"
    fi
}
clipg() {
    docker run --rm -it --name pgcli-$(date +%s) --network container_network_shared --user root -v ./etc/pgcli/:/root/.config/pgcli/ -e TZ=Asia/Shanghai -e PGTZ=Asia/Shanghai --entrypoint "" zeroleo12345/pgcli:4.4.0 pgcli postgres://${POSTGRES_HOST}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
}
export_function clipg
